<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">_id</th>
    <th scope="col">Nom Prénom</th>
    <th scope="col">Bannni</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user._id }}</td>
    <td>{{ user.firstName }} {{ user.lastName }}</td>
    <td>{{ showBanned(user.banned) }}</td>
    <td>
      <ul class="status-btn">
        <li><button *ngIf="!user.banned" (click)="changeBanned(user._id)" type="button" class="btn btn-success">Bannir</button></li>
        <li><button *ngIf="user.banned" (click)="changeBanned(user._id)" type="button" class="btn btn-secondary">Débannir</button></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
