<nav class="navbar navbar-expand-md navbar-dark bg-dark main-nav">
  <a class="navbar-brand logo-item" routerLink="/">
    <img id="main-logo" src="./assets/images/burger.png">
    <span id="main-title">BURGERAPI</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse right-nav-item" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/card">La carte</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a *ngIf="!auth.isAuth" class="dropdown-item" routerLink="/login">Se connecter</a>
          <a *ngIf="!auth.isAuth" class="dropdown-item" routerLink="/register">Créer un compte</a>

          <a *ngIf="auth.isAuth" class="dropdown-item" routerLink="/">Connecté en tant que {{ auth.lastName }} {{ auth.firstName }}</a>
          <a *ngIf="auth.isAuth" class="dropdown-item" (click)="logout()">Se déconnecter</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/shopping-cart" class="nav-link checkout">
          <i class="fa fa-shopping-cart" style="color: black;"></i>
          <span *ngIf="cart.length" id="checkout_items" class="checkout_items">{{ cart.length }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
